/*base*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;padding: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block; }
audio,canvas,progress,video {display: inline-block;vertical-align: baseline; }
audio:not([controls]) {display: none;height: 0; }
[hidden],
template {display: none; }
a {background-color: transparent; }
a:active, a:hover {outline: 0; }
abbr[title] {border-bottom: 1px dotted; }
b,strong {font-weight: bold; }
dfn {font-style: italic; }
h1 {font-size: 2em;margin: 0.67em 0; }
mark {background: #ff0;color: #000; }
small {font-size: 80%; }
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline; }
sup {top: -0.5em; }
sub {bottom: -0.25em; }
img {border: 0; }
svg:not(:root) {overflow: hidden; }
figure {margin: 1em 40px; }
hr {box-sizing: content-box;height: 0; }
pre {overflow: auto; }
code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em; }
button,input,optgroup,/*select,*/textarea {color: inherit;font: inherit;margin: 0; }
button {overflow: visible; }
button/*,select*/ {text-transform: none; }
button,
html input[type="button"],
input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer; }
button[disabled],html input[disabled] {cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0;padding: 0; }
input {line-height: normal; border: none;outline: none;}
/*input[type="checkbox"],*/
input[type="radio"] {box-sizing: border-box;padding: 0; }
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto; }
input[type="search"] {-webkit-appearance: textfield;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none; }
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em; }
legend {border: 0;padding: 0;}
textarea {overflow: auto; }
optgroup {font-weight: bold; }
table {border-collapse: collapse;border-spacing: 0; }
td,th {padding: 0; }
a:link ,a:visited,a:hover,a:active {text-decoration: none;}
input:focus{outline: none;}
/*** MIXINS & PARTIALS ***/
@media (max-width: 640px) {
  html {
    font-size: 57%; } }
@media (min-width: 641px) {
  html {
    font-size: 59%; } }
@media (min-width: 1025px) {
  html {
    font-size: 62.5%; } }

/*input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus{outline: none;}
input[type="checkbox"], input[type="radio"] {-webkit-appearance: none; -ms-appearance: none;-moz-appearance: none;appearance: none;}
input[type=checkbox]:checked {background-color: #d0000e;border-color: #d0000e;}
input[type=checkbox]{background-color: #fff;border: 1px solid #d7d7d7;width: 15px;height: 15px;position: relative;background-clip:border-box;margin: -.15px .6px 0 0 ;vertical-align: text-bottom;border-radius: 3px;transition: background-color .25s; }
input[type=checkbox]:checked:after {content: "";display: block;height: 7px;width: 12px;border: 0 solid #fff;border-width: 0 0 2px 2px;transform: rotate(-45deg);position: absolute;left: 1px;top: 2px;}
*/




body {background: #F8F8F8; color: #000;font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;font-size: 14px;font-size: 1.4rem;font-size: 14px;font-weight: normal;line-height: 160%; }

a {cursor: pointer;text-decoration: none; }
ul,li,ol{list-style: none; font-size: 14px;}
h1,h2,h3,h4,h5,h6 {
  color: #000;
  font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: bold;
  line-height: 120%;
  margin: 0 0 24px; }

/*style*/



/*update */
.header_up{width: 100%;height: 100px;background: #fff;position: fixed;top: 0;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);}
.header_up .logo_img{display: block;cursor: pointer;padding-top:13px;float: left;text-align: center;}
.header_up .logo_img img{display: inline-block;}

.update_title1{
  width: 100%;
    text-align: center;
    background: url(../images/update_title1.png) no-repeat center;
    background-size: 144px;
    height: 20px;
  }

.update_title2{
  width: 100%;
    text-align: center;
    background: url(../images/update_title2.gif) no-repeat center;
    background-size: 160px;
    height: 20px;
  }
.update_area{ width: 100%;margin-top: 30px;}
/*.update_file{float: left; display: inline; width: 70%;  padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1}*/

.a-upload {
  /* padding: 4px 100px; */
    height: 30px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-table;
    width: 300px;
    /* display: inline; */
    text-align: center;
    /* white-space: nowrap; */
    *: ;
    zoom: 1;
    width: ;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.update_btn{ display: inline; margin-left: 10px; height: 28px; width: 100px;  border: 1px solid #999;}

/*首页*/
.header{width: 100%;height: 100px;background: #fff;position: fixed;top: 0;z-index: 1020;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);}
.header .logo_img{display: block;cursor: pointer;padding-top:13px;float: left;text-align: center;}
.header .logo_img img{display: inline-block;}
.nav {float: left;}
.nav a{float: left;display: block;margin-top: 13px;text-align: center;}
.nav b{display: block;width: 38px;height: 38px;margin-bottom: 10px;}
.nav p{font-size: 14px;color: #3D4051;width: 38px;}
.nav a:hover p{color: #D0000E}

.icon-5home_normal:before ,.icon-6paly_normal:before ,.icon-7set_normal:before {font-size: 30px;color: #3D4051;text-align: center;line-height: 38px;}
.nav a:hover b:before ,.nav .select b:before{content: " "}
.nav .select .icon-5home_normal,.nav a:hover .icon-5home_normal{background: url(../images/home_sel.png) no-repeat center;background-size: 80%;}
.nav .select .icon-6paly_normal,.nav a:hover .icon-6paly_normal{background: url(../images/play_sel.png) no-repeat center;background-size: 80%;}

.nav .select .icon-7set_normal,.nav a:hover .icon-7set_normal{background: url(../images/set_sel.png) no-repeat center;background-size: 80%;}

.pro_massage{margin-top: 34px;color: #3D4051;font-size: 14px;}

.usermsg{float: right;position: absolute;right: 0;top: 20px;}
.usermsg li{float: left;margin-right: 5px;}
.usermsg li:last-child{margin-right:0;}
.usermsg li p{color: #747474;margin: 5px 0 2px 0;}
.user_photo{width: 50px;height: 50px;border-radius: 50%;background: #F5F5F5;text-align: center;line-height: 50px;}
.user_photo img{display: inline-block;margin: 0 auto;}
.icon-22quit:before {font-size: 10px;color: #9B9B9B}
.quick_quit{font-size: 14px;color: #9B9B9B}
.icon-35Group-3{display: block;font-size: 24px;color: #D0000E;margin-top: 18px;margin-left: 12px;}
@media (min-width: 1400px){
  .usermsg li{margin-right: 12px;}
}
@media  (min-width:1200px) and (max-width:1300px){
.usermsg li{margin-right: 1px;}
}

/*速率控制*/
.speed_con{float:right;}
.speed_con li{width: 140px;height: 30px;clear: both;margin: 12px 0;}
.speed_con li p{color: #747474;font-size: 14px;}

.left,.right{margin:0 8px;text-align: center;width: 20px;height: 30px;line-height: 30px;font-size: 10px;color: #d8d8d8;}
.left:hover:before,.right:hover:before{color: #3D4051;}
.sulv{display: block;font-style: normal;margin-top: 2px;width: 24px;height: 24px;border-radius: 50%;background: rgba(208, 0, 14, 0.6);font-size: 12px;color: #fff;text-align: center;line-height: 24px;}
.speed_con li p,.speed_con li a ,.speed_con li i{float: left;}
.speed_con ul{width: 125px;}

/*方向控制*/
.control_speed{margin-top: 10px;width: 295px;height: 160px;background-color: #ffffff;border-radius: 7px;}
.direction{float: left;margin:10px 0 0 14px;}
.direction ul{width: 130px;}
.direction ul li{font-size: 20px;float: left;width: 37px;height: 37px;border-radius: 3px;background: #f2f2f2;margin:0 6px 6px 0;text-align: center;line-height: 37px;}
.direction ul li a{line-height: 37px;display: block;width: 37px;height: 37px;}
.icon-4reset:before {font-size: 24px;}

.icon-25zuoshang,.icon-32youshang{font-size: 19px;line-height: 44px;}
.icon-30zuoxia,.icon-29youxia{font-size: 19px;line-height: 24px;}

.lefttop{transform:rotate(45deg);-ms-transform:rotate(45deg);   -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); }
.leftdown{transform:rotate(-45deg);-ms-transform:rotate(-45deg);   -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); }
.top{transform:rotate(90deg);-ms-transform:rotate(90deg);   -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg);}
.rightop{transform:rotate(135deg);-ms-transform:rotate(135deg);   -moz-transform:rotate(135deg); -webkit-transform:rotate(135deg); -o-transform:rotate(135deg);}
.righter{transform:rotate(-180deg);-ms-transform:rotate(-180deg);   -moz-transform:rotate(-180deg); -webkit-transform:rotate(-180deg); -o-transform:rotate(-180deg);}
.dowm{transform:rotate(-90deg);-ms-transform:rotate(-90deg);   -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -o-transform:rotate(-90deg);}
.rightdown{transform:rotate(-135deg);-ms-transform:rotate(-135deg);   -moz-transform:rotate(-135deg); -webkit-transform:rotate(-135deg); -o-transform:rotate(-135deg);}
.direction ul li a:hover:before{color:#d0010d }


/*滑块组*/
.rangeslider,
.rangeslider__fill {background: #e6e6e6;display: block;height: 4px;width: 180px;-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.rangeslider {position: relative;}
.rangeslider--disabled {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity: 0.4;}
.rangeslider__fill {background: #3D4051;position: absolute;top: 0;}
.rangeslider__handle {background: white;cursor: pointer;display: inline-block;width: 17px;height: 17px;position: absolute;top: -6px;background: #d0000e;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;}
.rangeslider__handle:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
.speedbar{margin:10px 0 0 24px;}
.speedbar i{font-style: normal;float: left;}
.speedbar .sbar{float: left;margin-left: 18px;position: relative;margin-top: 9px;}
.speed_num{position: absolute;top: -15px;right: -28px;}


/*开关组*/
.switch_group{margin-top: 20px;width: 295px;height: 90px;background-color: #ffffff;border-radius: 7px;}
.switch_group li{float: left;width: 45px;height: 60px;margin: 13px 0 0 24px;}
.switch_group li a{display: block;width: 45px;height: 68px;text-align: center;}
.switch_group li a p{font-size: 14px;color: #747474;}
.icon-15light,.icon-16yugua{font-size: 38px;}
.icon-17juji,.icon-18resets{font-size: 30px;}
.switch_group li a span{display: inline-block;height: 45px;line-height: 45px;text-align: center;}

.switch_group li span:hover{opacity: 0.8;filter:alpha(opacity=80);}
.switch_group li a p:hover{color: #3d4051;}

/*视频组*/
.list_video{/*margin-top: 20px;*/width: 295px;height: 350px;background-color: #ffffff;border-radius: 7px;overflow:auto;}
.icon-19icon_video{float: left;font-size: 30px;margin-right: 26px;}
.list_video li{position: relative;left: 0;height: 35px;line-height: 35px;margin: 25px;}
.yuzhidian{color: #9b9b9b;display: block;position: relative;z-index: 10;}
.list_video li a:hover{color: #3d4051;}
.list_video::-webkit-scrollbar { width:6px;height:3px;}
.list_video::-webkit-scrollbar-track{background:#eee;}
.list_video::-webkit-scrollbar-thumb{background: #3d4051;border-radius:4px;}
.list_video::-webkit-scrollbar-thumb{background:#d0000e;border-radius:4px;width: 10px;}
.yuzhibtn{position: absolute;right: 0;top: 10px;z-index: 180;}
.yuzhibtn a{float: left;display: block;font-size: 18px;color:  #3d4051;margin-left: 18px;}
.list_video li .yuzhibtn a:hover{color: #d0000e;}

  /*视频上头按钮*/
.quick_btn{position: relative;z-index: 90; }
.quick_btn ul{float: left;margin: 12px 0;}
.quick_btn li{float: left;line-height: 35px;margin-right: 14px;}
.quick_btn li a{font-size: 14px;color: #3d4051;}
.icon-video,.icon-photo,.icon-view{margin-right: 5px;display: block;width: 32px;height: 33px;}
.icon-video{margin-left: 14px;background: url(../images/8video.png) no-repeat center;background-size: 80%;}
.icon-photo{background: url(../images/9photo.png) no-repeat center;background-size: 80%;}
.icon-view{background: url(../images/10view.png) no-repeat center;background-size: 76%;}
.icon-video:hover{background: url(../images/video_hover.png) no-repeat center;background-size: 80%;}
.icon-photo:hover{background: url(../images/photo_hover.png) no-repeat center;background-size: 80%;}
.icon-view:hover{background: url(../images/view_hover.png) no-repeat center;background-size:76%;}

.tongdao_title{color: #3d4051;font-size: 15px; }
.quick_btn .maliu{float: left;display: block;width: 68px;height: 30px;background-color: #d0000e;font-size: 12px;line-height: 30px;text-align: center;}
.quick_btn .zima{background-color: #d8d8d8;color: #4a4a4a;}
.quick_btn .zhuma{color: #fff;}

.clarty{display: none;position: absolute;left: 35px;width: 148px;height: 143px;background-color: rgba(0,0,0,0.5);border-radius: 5px;overflow: hidden;}
.clarty a{display: inline-block;width: 145px;height: 30px;line-height: 30px;color: #fff;padding-left: 10px;}
.clarty a span{color: #fff;}
.yulan{position: relative;}


.dashboard-page{position: relative;left: 0;padding: 50px 0;background-color: #ffffff;border-radius: 20px;}
.play video{z-index: 10;width: 100%;}

/*底部*/
.bottom_btn{height: 60px;line-height: 60px;position: relative;margin-top: 40px;}
.resolution a{float: left;margin-right: 8px;margin-top: 16px;display: block;width: 42px;text-align: center;line-height: 30px;height: 30px;border-radius: 4px;border: solid 1px #3d4051;color: #3d4051;}
.bottom_btn li{float: left;margin-left: 28px;height: 60px;}
.icon-11photograph,.icon-12call,.icon-13sound{font-size: 24px;line-height: 60px;}
.resolution .fouron{background-color: #3d4051;color: #fff}
.clarty_bottom{display: none;position: absolute;top:-70px;width: 100px;height: 87px;border-radius: 7px;background: rgba(0,0,0,0.5);}
.clarty_bottom a{display:block;text-align: center;color: #fff;width: 100px;height: 30px;line-height: 30px;margin: 10px 0;}
.bofang{position: relative;left: 0;width: 100px;text-align: center;}
.botitle{color:#3d4051;padding-top: 5px;}
.bottom_btn .sbar{margin-top: 27px;position: relative;}
.voice_num{position: absolute; left: 207px;top: -13px;}
.bottom_btn .tipmsg{float: right;width:320px;}
.msgicons{width: 25px;font-size: 22px;position: relative;top: 22px;color: #3d4051;}
.msgicons span{float: left;}

.icon-33xiaoxi1{position: absolute;left: 12px;font-size: 24px;
   -webkit-animation: twinkling 800ms ease-out infinite alternate;
    -moz-animation: twinkling 800ms ease-out infinite alternate;
    -o-animation: twinkling 800ms ease-out infinite alternate;
    -ms-animation: twinkling 800ms ease-out infinite alternate;
    animation: twinkling 800ms ease-out infinite alternate;
}

.msgfont a{display: inline-block;line-height: 60px;color: #4a4a4a;}


/*以下定义动画帧*/
@keyframes twinkling {
  0% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
  50% {opacity:0.5;filter:alpha(opacity=50);-webkit-transform:scale(1.12);}
  100% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
}
@-webkit-keyframes twinkling {
  0% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
  50% {opacity:0.5;filter:alpha(opacity=50);-webkit-transform:scale(1.12);}
  100% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
}
@-moz-keyframes twinkling {
  0% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
  50% {opacity:0.5;filter:alpha(opacity=50);-webkit-transform:scale(1.12);}
  100% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
}
@-o-keyframes twinkling {
  0% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
  50% {opacity:0.5;filter:alpha(opacity=50);-webkit-transform:scale(1.12);}
  100% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
}
@-ms-keyframes twinkling {
  0% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
  50% {opacity:0.5;filter:alpha(opacity=50);-webkit-transform:scale(1.12);}
  100% {opacity:0.2;filter:alpha(opacity=20);-webkit-transform:scale(1);}
}

/*右上角按钮点击加载样式*/

.new_overa{height: 60px;overflow: hidden;margin-top: -20px;}



/*回放样式*/
.search_view{margin-top: 30px;padding: 18px 36px;background: #fff;border-radius: 6px;}
.search_header{margin-bottom: 10px;}
.search_row_title{float: left;font-size: 14px;font-weight: 600;color: #d0000e; line-height: 45px; margin-right: 28px;}
.date_group{float: left;}
.dp_container{position: relative;float: left;cursor: pointer;}
.dp_item{width: 195px;height: 45px;background:  #ebebeb;border-radius: 6px;line-height: 45px;}
.dp_input{width: 160px;border: 0;color: #666;padding-left: 20px;font-size: 14px;vertical-align: middle;outline: none;background-color: transparent;cursor: pointer;}
.connect_line{float: left;line-height: 45px;margin: 0 13px;font-size: 14px;color: #030303;}
.icon-63cande{position: absolute;right: 14px;top: 16px;}
.search_btn{float: right;padding: 0 29px;border: 0;line-height: 35px;background-color: #d0000e;border-radius: 100px;font-size: 14px;color: #fff;}
.search_btn:hover{background-color: #b4020e;}

.search_row_content{line-height: 45px;}
.search_row_item label{font-weight:normal;color: #666;}
.search_row_item{float: left;margin-right: 24px;width: 110px;word-break: break-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.filter_type .search_row_item{width: 180px;}
.search_row_content .search_row_title{color: #666;}
.second_content{margin-left: 83px;}
.fire_wrapper{float: left;}
.fire_wrapper .search_row_title{margin-right: 0;}
.fire_wrapper input{width:40px;padding:0 5px;height: 30px;border: 1px solid #ebebeb; }
.fire_wrapper input[type="button"]{display: none;width: 60px;height: 30px;line-height: 30px;background-color: #b4020e;border-radius: 50px;color: #fff;font-size: 12px;}

/*视频*/
.content_view{padding: 30px 0;border-radius: 6px;background-color: #fff;margin-top: 20px;}
.main-view{overflow: hidden;width: 100%;max-height: 369px;position: relative;}
.main-view li{float: left;}
/*.btn{position: absolute;top: 50%;z-index: 10;width: 40px;height: 40px;border-radius: 50%;background-color: rgba(0,0,0,0.5);}

.btn i{display: block;text-align: center;}
.btn-next{left: 0px;}
.btn-pre{right: 0px;}*/
.main-view .icon-62back-left:before,.main-view .icon-63back-right:before{color: #fff;font-size: 18px;line-height: 30px;}

/*进度条*/
.bottom_view{height:55px;background-color: #fff;border-radius: 6px;margin-top: 20px;}
.bottom_view .rangeslider,.bottom_view .rangeslider__fill{width: 100%;}
.bottom_view .voice_num{display: none;}
.media_control li a {display: inline-block;width: 32px;height: 32px;}
.media_control li{float: left;margin-left: 14px;}
.times{float: left;}
.media_control{float: right;}
.media_control li a{font-size: 28px;}
.paly_btn{margin-top: 15px;}
.times em{font-style: normal;}

/*分页*/
.page{text-align: center;}


/*列表*/
.content_list{margin-top: 20px;padding: 10px 0;background: #fff;border-radius: 6px;}
.list_header{float: right}
.content_list li{position: relative;left: 0;float: left;width: 276px;height: 251px;background-color: #f8f8f8;border-radius: 10px;margin: 10px 7px;}
.list_header a{display: block;width: 20px;height: 20px;float: left;margin:5px 18px 5px 0px;}
.list_header .jingao{background: url(../images/jingao.png) no-repeat center;background-size: 100%;}
.list_header .jinzhi{background: url(../images/jinzhi.png) no-repeat center;background-size: 100%;}
.list_header .xiaolian{background: url(../images/face.png) no-repeat center;background-size: 100%;}
.content_list_box{width: 245px;height: 185px;margin: 0 auto;overflow: hidden;position: relative;border-radius: 10px;}
.list_word{margin-left: 29px;font-weight: normal;margin-top: 6px;}
.list_word span{margin-left: 5px;}
.play_btn{position: absolute;z-index: 10;top: 74px;left: 100px;display: block;width: 38px;height: 38px;background-color: rgba(0,0,0,.5);border-radius: 50%;text-align: center;}
.play_btn .icon-28zuo{display: inline-block;transform: rotate(-180deg);-ms-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);-o-transform: rotate(-180deg);}
.play_btn .icon-28zuo:before{font-size: 18px;color: #d0000e;line-height: 38px;}


/*配置页*/
.configure .leftslider{position: absolute;left: 0;top: 0;z-index: 80;width: 285px;height: 100%;background-color: #fff;overflow: auto;}
.configure .leftslider ul{padding-top: 0px;overflow: auto;}
.configure .leftslider li{width: 240px;height: 45px;margin: 18px 22px 0;clear: both;}
.configure .leftslider li a{display: block;color: #3d4051;width: 240px;height: 45px;line-height: 45px;display:table-cell;vertical-align:middle;}
.configure .leftslider li a.index_on,.configure .leftslider li a:hover{background-color: #d0000e;border-radius: 100px;color: #fff;}
.fig_video{background: url(../images/video_def.png) no-repeat center;}
.index_on .fig_video,.leftslider li a:hover .fig_video{background: url(../images/video_hov.png) no-repeat center;}
.fig_web{background: url(../images/web_def.png) no-repeat center;}
.index_on .fig_web,.leftslider li a:hover .fig_web{background: url(../images/web_hov.png) no-repeat center;}
.fig_shijian{background: url(../images/ziyuan_def.png) no-repeat center;}
.index_on .fig_shijian,.leftslider li a:hover .fig_shijian{background: url(../images/ziyuan_hov.png) no-repeat center;}
.fig_zhineng{background: url(../images/computer_def.png) no-repeat center;}
.index_on .fig_zhineng,.leftslider li a:hover .fig_zhineng{background: url(../images/computer_hov.png) no-repeat center;}
.fig_tuxiang{background: url(../images/img_def.png) no-repeat center;}
.index_on .fig_tuxiang,.leftslider li a:hover .fig_tuxiang{background: url(../images/img_hov.png) no-repeat center;}
.fig_yuntai{background: url(../images/cloud_def.png) no-repeat center;}
.index_on .fig_yuntai,.leftslider li a:hover .fig_yuntai{background: url(../images/cloud_hov.png) no-repeat center;}
.fig_cunchu{background: url(../images/wenjian_def.png) no-repeat center;}
.index_on .fig_cunchu,.leftslider li a:hover .fig_cunchu{background: url(../images/wenjian_hov.png) no-repeat center;}
.fig_xitong{background: url(../images/set_def.png) no-repeat center;}
.index_on .fig_xitong,.leftslider li a:hover .fig_xitong{background: url(../images/set_hov.png) no-repeat center;}
.fig_bendi{background: url(../images/qian_def.png) no-repeat center;}
.index_on .fig_bendi,.leftslider li a:hover .fig_bendi{background: url(../images/qian_hov.png) no-repeat center;}

.configure .leftslider li .icon_img,.leftslider li a:hover .icon_img{display: block;width: 26px;height: 37px;margin: 4px 21px 0 54px;float: left;background-size: 100%;}

/*选项卡*/
.content_box{height: 100%;float: left;margin:0px 0 0 0px;width: 99%;}
.aui_nav_list_box li{float: left;text-align: center;
margin-bottom: -1px;}
.aui_nav_list_box li a{display: block;padding: 16px 28px;
border: 1px solid transparent;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
border-top-width: 2px;
}
.aui_current{border-top: 3px solid #e2134a;font-size: 16px;font-weight: 700;}
.aui_nav_list_box a{color:  #3d4051;font-size: 14px;}
.aui_nav_list_tab{margin: 30px;}

.aui_nav_list_item li span{display: inline-block;width: 100px;}
.tab_reset,.tab_submit{display: block;float: left;width: 58px;height: 34px;border-radius: 100px;text-align: center;line-height: 34px;color: #fff;margin: 0 10px; }
.tab_reset:hover,.tab_submit:hover{color: #ccc;}
.tab_reset{background-color: #3d4051; }
.tab_submit{background-color: #d0000e;margin-left: 102px;}
.aui_nav_list_item{clear: both;}
.aui_nav_list_item em{font-style: normal;}
/*.aui_nav_list_item input[type="text"],*/.aui_nav_list_item input[type="password"]{padding-left: 10px;width: 229px;height: 40px;border-radius: 5px;border: 1px solid #a6a6a6;}
.aui_nav_list_item .resolu input{padding-left:10px;width: 60px;height: 30px;border-radius: 5px;border: 1px solid #a6a6a6;}
.aui_nav_list_item h1{font-size: 16px;padding-left: 23px;}
.aui_nav_content_box {position: relative;display: flex;flex-direction: column;min-width: 0;height: 100%;word-wrap: break-word;background-color: #f8f8f8;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;}
/*.aui_nav_list_box{border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;border-bottom:1px solid #0000001a;}*/
.aui_nav_list_box .aui_current a{background: #fff;border-left: 1px solid #0000001a;border-right: 1px solid #0000001a;}
.aui_nav_list_box .aui_current:first-child a{border-left: none;}



.aui_nav_list_item input[type="button"]{width: 60px;height: 35px;border-radius: 5px; color: #fff; background-color: #3d4051;}
/*select{width: 229px;padding:0 14px;height: 40px;font-size: 12px;line-height: 24px;border: 1px #a6a6a6 solid;border-radius: 5px;appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
	background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll 200px center #fff;
}*/

/*select::-ms-expand { display: none; }*/
/*option{
color: black;
background: #fff;
line-height: 24px;
}*/

/*
select:focus{
border: 2px #ddd solid;
box-shadow: 0 0 15px 1px #DDDDDD;
}*/
/*option:hover{
background: #EBCCD1;
}*/

.container{margin-top: 0px;}

.sidebar {display: none;position: absolute;right: 0;top:0;z-index: 90;width: 300px;background-color: #fff;height: 100%;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);white-space: nowrap;
    transition: margin 0.5s;
		-moz-transition: margin 0.5s;
		-webkit-transition: margin 0.5s;
		-o-transition: margin 0.5s;}

.sidebar + .content_area {
    margin:100px 20px;
		transition: margin 0.5s;
		-moz-transition: margin 0.5s; 
		-webkit-transition: margin 0.5s; 
		-o-transition: margin 0.5s; 
}

@media only screen and (min-width: 768px){
	.sidebar.collapsed + .content_area {
	    margin-right: 320px;
	}
}
.content-wrapper{padding: 25px;}
/*.row{display: flex;flex-wrap: wrap;}*/
.helps{display: block;height: 24px;margin-top: 15px;margin-left: 12px;width: 24px;font-size: 30px;}


/*------------------------------ptz---------------------*/
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
 /* padding: 1.5rem; */}

.card-title {
  margin-bottom: 1rem; }

.card-subtitle {
  margin-top: -0.5rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.5rem; }

.card-header {
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid transparent; }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    border-bottom: 1px solid #d0000e; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-footer {
  padding: 1rem 1.5rem;
  background-color: #f8f9fa;
  border-top: 1px solid transparent; }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.card-header-tabs {
  margin-right: -0.75rem;
  margin-bottom: -1rem;
  margin-left: -0.75rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px); }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px); }

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px); }

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card-deck .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-deck {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; }
      .card-deck .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
                flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px; } }

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card-group > .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-group {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .card-group > .card {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
                flex: 1 0 0%;
        margin-bottom: 0; }
        .card-group > .card + .card {
          margin-left: 0;
          border-left: 0; }
        .card-group > .card:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
          .card-group > .card:first-child .card-img-top,
          .card-group > .card:first-child .card-header {
            border-top-right-radius: 0; }
          .card-group > .card:first-child .card-img-bottom,
          .card-group > .card:first-child .card-footer {
            border-bottom-right-radius: 0; }
        .card-group > .card:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
          .card-group > .card:last-child .card-img-top,
          .card-group > .card:last-child .card-header {
            border-top-left-radius: 0; }
          .card-group > .card:last-child .card-img-bottom,
          .card-group > .card:last-child .card-footer {
            border-bottom-left-radius: 0; }
        .card-group > .card:only-child {
          border-radius: 0.25rem; }
          .card-group > .card:only-child .card-img-top,
          .card-group > .card:only-child .card-header {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem; }
          .card-group > .card:only-child .card-img-bottom,
          .card-group > .card:only-child .card-footer {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem; }
        .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
          border-radius: 0; }
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
            border-radius: 0; } }

.card-columns .card {
  margin-bottom: 30px; }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    orphans: 1;
    widows: 1; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }

.accordion .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0; }

.accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0; }

.accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.accordion .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ptz_tile_font{
   font-size: 1.5rem;
   color:#d0000e;
}


















