# Architecture
BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_EABI=y

# System
BR2_TARGET_GENERIC_HOSTNAME="turingpi"
BR2_TARGET_GENERIC_ISSUE="Welcome to Turing Pi"
BR2_TARGET_GENERIC_ROOT_PASSWD="turing"
BR2_TARGET_GENERIC_GETTY_PORT="ttyS3"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
BR2_SYSTEM_DHCP="eth0"
BR2_INIT_SYSV=y
BR2_TARGET_TZ_INFO=y
BR2_SVN="svn"
BR2_CCACHE=y
BR2_RELRO_NONE=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/turing-machines/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="5112fdd843715f1615703ca5ce2a06c1abe5f9ee"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_TP2BMC_PATH)/board/tp2bmc/linux_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME=""
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_TP2BMC_PATH)/board/tp2bmc/sun8iw20p1-t113-turingmachines-tp2bmc.dts"
BR2_LINUX_KERNEL_DTB_KEEP_DIRNAME=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y
BR2_KERNEL_HEADERS_AS_KERNEL=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_4=y

# Filesystem
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_LABEL=""
BR2_TARGET_ROOTFS_EXT2_SIZE="256M"
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x3f000
BR2_TARGET_ROOTFS_UBIFS_MINIOSIZE=0x1000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=245
BR2_TARGET_ROOTFS_UBIFS_RT_ZLIB=y
BR2_TARGET_ROOTFS_UBIFS_OPTS="-F"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_TP2BMC_PATH)/board/tp2bmc/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_TP2BMC_PATH)/board/tp2bmc/post-build-spinand.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_TP2BMC_PATH)/board/tp2bmc/build-after.sh"

# Bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/turing-machines/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="69b04a0b3dd5c412f66e9dbfd02876eebfd99646"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_TP2BMC_PATH)/package/boot/uboot"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="sun8iw20p1_auto_nand"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_NEEDS_PYLIBFDT=y
BR2_TARGET_UBOOT_NEEDS_OPENSSL=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-sun8iw20p1.bin"

# Host packages
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENEXT2FS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MKPASSWD=y
BR2_PACKAGE_HOST_MTD=y
BR2_PACKAGE_HOST_MTOOLS=y

# Packages
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ANDROID_TOOLS_ADBD=y
BR2_PACKAGE_ANDROID_TOOLS=y
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_COLLECTD_CURL=y
BR2_PACKAGE_COLLECTD=y
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_KEYUTILS=y
BR2_PACKAGE_LIBAIO=y
BR2_PACKAGE_LIBCURL_CURL=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBEVENT=y
BR2_PACKAGE_LIBGPIOD_TOOLS=y
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_LIBTIRPC=y
BR2_PACKAGE_LIBUBOOTENV=y
BR2_PACKAGE_LVM2=y
BR2_PACKAGE_MTD_MKFSUBIFS=y
BR2_PACKAGE_MTD_MTDPART=y
BR2_PACKAGE_MTD_UBIFS_UTILS=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_NSS_MDNS=y
BR2_PACKAGE_NTPSEC=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_SWUPDATE_CONFIG="$(BR2_EXTERNAL_TP2BMC_PATH)/board/tp2bmc/swupdate.config"
BR2_PACKAGE_SWUPDATE_INSTALL_WEBSITE=n
BR2_PACKAGE_SWUPDATE_WEBSERVER=n
BR2_PACKAGE_SWUPDATE=y
BR2_PACKAGE_TREE=y
BR2_PACKAGE_UTIL_LINUX_LIBMOUNT=y
BR2_PACKAGE_UTIL_LINUX_LIBUUID=y
BR2_PACKAGE_UTIL_LINUX_UUIDD=y

# Custom packages
BR2_PACKAGE_BMC=y
BR2_PACKAGE_TPI=y
BR2_PACKAGE_TPI_RS=y
